---
import type { Tutorial } from '~/types';

export type Props = {
  tutorial: Tutorial;
};

const { tutorial } = Astro.props;
---

<div>
  <div class="flex flex-col gap-2 mb-4 text-center">
    <div id={tutorial.key} class="invisible h-0 -translate-y-[6rem]"></div>
    <h2 class={`text-4xl font-bold text-${tutorial.mainColor}`}>
      {tutorial.title}
    </h2>
    {
      tutorial.playlistUrl && (
        <a
          href={tutorial.playlistUrl}
          target={'_blank'}
          class="hover:opacity-85"
          title={`Watch the full playlist (${tutorial.chapters.length})`}
          data-analytics={'tanstack-playlist-' + tutorial.title}
        >
          Watch the full playlist ({tutorial.chapters.length}) »
        </a>
      )
    }
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <slot />
  </div>
</div>
