---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import PostGrid from '~/components/blog/PostGrid.astro';
import ShortItem from '~/components/video/ShortItem.astro';
import VideoItem from '~/components/video/VideoItem.astro';
import Hero from '~/components/widgets/Hero.astro';
import Latest from '~/components/widgets/Latest.astro';
import { linkedinUrl, youTubeChannelUrl, youTubeChannelUrlSubscribe } from '~/data';
import { getVideos } from '~/libs/youtube';
import { findLatestPosts, getPostsCount } from '~/utils/blog';
import { getBlogPermalink } from '~/utils/permalinks';

const meta = {
  title: SITE.title + ' | Web Developer, Open Source maintainer and Content Creator',
  dontUseTitleTemplate: true,
};

const latestPosts = await findLatestPosts({ count: 4 });
const postsCount = await getPostsCount();

const { shortVideos, longVideos } = await getVideos();
---

<Layout {meta}>
  <Hero
    callToAction={{
      text: 'Watch me on YouTube',
      href: youTubeChannelUrlSubscribe,
      icon: 'tabler:brand-youtube',
    }}
    callToAction2={{ text: 'Connect with me', href: linkedinUrl, icon: 'tabler:brand-linkedin' }}
  >
    <Fragment slot="title">
      Hello! <span class="text-accent dark:text-white highlight">Leonardo</span> here :)
    </Fragment>

    <Fragment slot="subtitle">
      π-shaped <b>Frontend Developer</b>, <b>Open Source</b> maintainer and <b>educator</b>.<br />
      Awarded <a
        class="font-bold hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
        href="https://stars.github.com/profiles/balastrong/"
        target="_blank">GitHub Star ⭐️</a
      > since 2023 and <a
        class="font-bold hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
        href="https://mvp.microsoft.com/en-US/mvp/profile/51d820c5-949f-4961-aec5-09e34035cb24"
        target="_blank">Microsoft MVP 🔷</a
      > since 2024.
    </Fragment>
  </Hero>

  <div class="relative">
    <div class="absolute -top-20" id="video"></div>
  </div>
  <Latest
    title="Latest videos"
    titleSide="left"
    subtitleText="Watch all my videos"
    subtitleLink={youTubeChannelUrl + '/videos'}
    isLinkExternal
  >
    <div class="grid gap-6 row-gap-5 md:grid-cols-3 -mb-6">
      {longVideos.map((video) => <VideoItem video={video} />)}
    </div>
  </Latest>

  <Latest
    title="Latest articles"
    titleSide="center"
    subtitleLink={getBlogPermalink()}
    subtitleText={`Read all my articles (${postsCount})`}
  >
    <PostGrid posts={latestPosts} />
  </Latest>

  <div class="overflow-hidden">
    <Latest
      title="Latest shorts"
      titleSide="right"
      subtitleText="Watch all my shorts"
      subtitleLink={youTubeChannelUrl + '/shorts'}
      isLinkExternal
    >
      <div class="grid gap-6 row-gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-6 -mb-6">
        {shortVideos.map((video) => <ShortItem video={video} />)}
      </div>
    </Latest>
  </div>
</Layout>
