---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import PostGrid from '~/components/blog/PostGrid.astro';
import ShortItem from '~/components/video/ShortItem.astro';
import VideoItem from '~/components/video/VideoItem.astro';
import Hero from '~/components/widgets/Hero.astro';
import Latest from '~/components/widgets/Latest.astro';
import { youTubeChannelUrl } from '~/data';
import { categorizeVideo, getVideos } from '~/libs/youtube';
import { findLatestPosts } from '~/utils/blog';
import { getBlogPermalink } from '~/utils/permalinks';

const meta = {
  title: SITE.title + ' | Web Developer, Open Source enthusiast and Content Creator',
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const posts = await findLatestPosts({ count: 4 });

const videos = await getVideos();
const { shortVideos, longVideos } = await categorizeVideo(videos, {
  minShortCount: 6,
});
---

<Layout {meta}>
  <Hero
    callToAction={{
      text: 'Watch me on YouTube',
      href: 'https://www.youtube.com/@DevLeonardo',
      icon: 'tabler:brand-youtube',
    }}
    callToAction2={{ text: 'Read my blog', href: getBlogPermalink() }}
  >
    <Fragment slot="title">
      Hello! <span class="text-accent dark:text-white highlight">Leonardo</span> here :)
    </Fragment>

    <Fragment slot="subtitle">
      Passionate Frontend Developer always looking for new challenges.<br />
      I contribute to Open Source projects, write technical articles and publish videos on YouTube to share what I learn.
    </Fragment>
  </Hero>

  <Latest
    title="Read my latest articles"
    titleSide="center"
    subtitleLink={getBlogPermalink()}
    subtitleText={'Read all posts'}
  >
    <PostGrid posts={posts} />
  </Latest>

  <div class="relative">
    <div class="absolute -top-20" id="video"></div>
  </div>
  <Latest
    title="Watch my latest videos"
    titleSide="left"
    subtitleText="To all my videos"
    subtitleLink={youTubeChannelUrl + '/videos'}
    isLinkExternal
  >
    <div class="grid gap-6 row-gap-5 md:grid-cols-3 -mb-6">
      {longVideos.map((video) => <VideoItem video={video} />)}
    </div>
  </Latest>

  <Latest
    title="Watch my latest shorts"
    titleSide="right"
    subtitleText="To all my shorts"
    subtitleLink={youTubeChannelUrl + '/shorts'}
    isLinkExternal
  >
    <div class="grid gap-6 row-gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-6 -mb-6">
      {shortVideos.map((video) => <ShortItem video={video} />)}
    </div>
  </Latest>
</Layout>
