---
import { Schema } from 'astro-seo-schema';
import propic from 'src/assets/images/propic-blue.jpg';
import PostGrid from '~/components/blog/PostGrid.astro';
import ShortItem from '~/components/video/ShortItem.astro';
import VideoItem from '~/components/video/VideoItem.astro';
import Hero from '~/components/widgets/Hero.astro';
import Latest from '~/components/widgets/Latest.astro';
import { SITE } from '~/config.mjs';
import { blueskyUrl, linkedinUrl, twitterUrl, youTubeChannelUrl, youTubeChannelUrlSubscribe } from '~/data';
import Layout from '~/layouts/PageLayout.astro';
import { getVideos } from '~/libs/youtube';
import { findLatestPosts, getPostsCount } from '~/utils/blog';
import { getBlogPermalink, getContactPermalink } from '~/utils/permalinks';

const meta = {
  title: 'Leonardo Montini',
  description:
    'π-shaped Frontend Engineer, DevRel and Open Source maintainer. Awarded GitHub Star ⭐️ since 2023 and Microsoft MVP 🔷 since 2024.',
  dontUseTitleTemplate: true,
};

const latestPosts = await findLatestPosts({ count: 4 });
const postsCount = await getPostsCount();

const { shortVideos, longVideos } = await getVideos();
---

<Schema
  item={{
    '@context': 'https://schema.org',
    '@type': 'Person',
    name: 'Leonardo Montini',
    url: 'https://leonardomontini.dev',
    image: SITE.origin + propic.src,
    jobTitle: 'Frontend Engineer, DevRel and Open Source maintainer',
    sameAs: [blueskyUrl, youTubeChannelUrl, linkedinUrl, twitterUrl],
    knowsAbout: ['Web Development', 'TanStack', 'Open Source', 'JavaScript', 'React', 'TypeScript', 'GitHub'],
    description: meta.description,
    potentialAction: [
      {
        '@type': 'SubscribeAction',
        target: youTubeChannelUrl,
      },
      {
        '@type': 'FollowAction',
        target: twitterUrl,
      },
      {
        '@type': 'FollowAction',
        target: linkedinUrl,
      },
    ],
    award: ['GitHub Star', 'Microsoft MVP'],
  }}
/>
<Layout {meta}>
  <Hero
    callToAction={{
      text: 'Contact Me',
      href: getContactPermalink(),
      icon: 'tabler:send',
    }}
    callToAction2={{
      text: 'Join me on YouTube',
      href: youTubeChannelUrlSubscribe,
      icon: 'tabler:brand-youtube',
      isExternal: true,
    }}
  >
    <Fragment slot="title">
      Hello! <span class="text-primary dark:text-white highlight">Leonardo</span> here :)
    </Fragment>

    <Fragment slot="subtitle">
      π-shaped <b>Frontend Engineer</b>, <b>DevRel</b> and <b>Open Source</b> maintainer.<br />
      Awarded <a
        class="font-bold hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
        href="https://stars.github.com/profiles/balastrong/"
        target="_blank">GitHub Star ⭐️</a
      > since 2023 and <a
        class="font-bold hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
        href="https://mvp.microsoft.com/en-US/mvp/profile/51d820c5-949f-4961-aec5-09e34035cb24"
        target="_blank">Microsoft MVP 🔷</a
      > since 2024.
      <br />
      <span class="leading-[2] italic"
        >"Learning <strong>Web Development</strong> through <strong>Open Source</strong>"</span
      >
    </Fragment>
  </Hero>

  <div class="relative">
    <div class="absolute -top-20" id="video"></div>
  </div>
  <Latest
    title="Latest videos"
    titleSide="left"
    subtitleText="Watch all my videos"
    subtitleLink={youTubeChannelUrl + '/videos'}
    isLinkExternal
  >
    <div class="grid gap-6 row-gap-5 md:grid-cols-3 -mb-6">
      {longVideos.map((video) => <VideoItem video={video} />)}
    </div>
  </Latest>

  <Latest
    title="Latest articles"
    titleSide="center"
    subtitleLink={getBlogPermalink()}
    subtitleText={`Read all my articles (${postsCount})`}
  >
    <PostGrid posts={latestPosts} />
  </Latest>

  <div class="overflow-hidden">
    <Latest
      title="Latest shorts"
      titleSide="right"
      subtitleText="Watch all my shorts"
      subtitleLink={youTubeChannelUrl + '/shorts'}
      isLinkExternal
    >
      <div class="grid gap-6 row-gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-6 -mb-6">
        {shortVideos.map((video) => <ShortItem video={video} />)}
      </div>
    </Latest>
  </div>
</Layout>
