---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { tanStackTutorials } from '~/data';
import TutorialGrid from '~/components/widgets/TutorialGrid/TutorialGrid.astro';
import TutorialCard from '~/components/widgets/TutorialGrid/TutorialCard.astro';

const meta = {
  title: SITE.title + ' | TanStack Tutorials',
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const tutorialsCount = tanStackTutorials.reduce((acc, tutorial) => acc + tutorial.chapters.length, 0);
---

<Layout {meta}>
  <section class="relative">
    <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 mb-12 flex flex-col gap-4">
      <div class="pt-8 sm:pt-6 lg:pt-12">
        <div class="mb-8 md:mx-auto text-center max-w-3xl">
          <p class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase">Tutorials</p>
          <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">TanStack</h2>
          <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400">
            High-quality open-source software for web developers
          </p>
        </div>
      </div>
      <div
        class="max-w-full prose dark:prose-invert prose-a:text-primary dark:prose-a:text-blue-400 prose-p:mt-0 prose-p:mb-3"
      >
        <p>
          In this page you can find an overview of the <strong>{tutorialsCount}</strong> tutorials I created on various TanStack
          libraries.
        </p>
        <p>
          The best way to get started remains the
          <a href="https://tanstack.com/" target="_blank">official documentation</a>, what you can find below is a
          collection of <i>step by step tutorials</i> where we'll build together some
          <strong>practical examples</strong>.
        </p>
        <p>
          Each video has a link to a repository with the code where usually each branch corresponds to a video/chapter.
          Some videos also have the article version but I'm too lazy to write them all, if you create an article based
          on my video I'll be happy to link it here.<br />Enjoy!
        </p>
      </div>
      <div class="flex gap-2 flex-row flex-wrap">
        <div class="text-lg font-medium mx-auto min-[500px]:mx-0">Jump to:</div>
        {
          tanStackTutorials.map((tutorial) => (
            <div
              style={{ backgroundColor: tutorial.color, color: tutorial.textColor }}
              class={`w-full min-[500px]:w-fit px-3 py-1 rounded-full font-semibold hover:opacity-90 transition-opacity text-center`}
            >
              <a href={`#${tutorial.key}`}>{tutorial.title.replace('TanStack ', '')}</a>
            </div>
          ))
        }
      </div>
      <div class="flex flex-col gap-8">
        {
          tanStackTutorials.map((tutorial) => (
            <TutorialGrid tutorial={tutorial}>
              {tutorial.chapters.map((chapter, index) => (
                <TutorialCard
                  chapterNumber={index + 1}
                  chapter={chapter}
                  color={tutorial.color}
                  textColor={tutorial.textColor}
                />
              ))}
            </TutorialGrid>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
