---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { YouTubeVideo } from '~/types';

import { getShortThumbnailUrl, getVideoUrl } from '~/libs/youtube';

export type Props = {
  video: YouTubeVideo;
};

const { video } = Astro.props;

const thumbnail = getShortThumbnailUrl(video);
const videoUrl = getVideoUrl(video);
const videoTitle = video.snippet.title;
---

<article class="mb-6 transition">
  <div class="relative bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6">
    {
      thumbnail && (
        <a href={videoUrl} target="_blank">
          <Picture
            src={thumbnail}
            class="md:object-cover w-full md:w-auto rounded shadow-lg bg-gray-400 dark:bg-slate-700"
            widths={[224, 448]}
            width={224}
            height={400}
            sizes="(max-width: 448px) 224px, 448px"
            alt={videoTitle}
            aspectRatio="9:16"
            loading="lazy"
            decoding="async"
          />
        </a>
      )
    }
  </div>
  <h4 class="mb-2 text-md font-bold leading-tight sm:text-xl font-heading">
    {
      BLOG?.post?.disabled ? (
        videoTitle
      ) : (
        <a
          href={videoUrl}
          target="_blank"
          class="hover:text-primary dark:hover:text-blue-700  transition ease-in duration-200"
        >
          {videoTitle}
        </a>
      )
    }
  </h4>
</article>
