---
import newsletterBanner from 'src/assets/images/banner-newsletter.png';
import Author from '~/components/blog/Author.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import { TopProgress } from '~/components/common/TopProgress';
import NewsletterFooter from '~/components/newsletter/Footer.astro';
import SingleNewsletterIssue from '~/components/newsletter/SingleNewsletterIssue.astro';
import ToNewsletterLink from '~/components/newsletter/ToNewsletterLink.astro';
import Layout from '~/layouts/PageLayout.astro';
import { type MetaSEO } from '~/types';
import { fetchNewsletterIssues } from '~/utils/newsletter';
import { getCanonical, getPermalink } from '~/utils/permalinks';

export async function getStaticPaths() {
  const issues = await fetchNewsletterIssues();

  return issues.map((issue) => {
    return {
      params: {
        page: issue.id,
      },
      props: {
        issue,
      },
    };
  });
}

const { issue } = Astro.props;
const url = getCanonical(getPermalink(issue.id.toString(), 'newsletter'));

const meta: MetaSEO = {
  title: issue.title,
  description: issue.description,
  image: newsletterBanner,
  ogType: 'article',
  author: 'Leonardo Montini',
};
---

<Layout {meta}>
  <TopProgress client:only />
  <div class="flex flex-col items-center gap-8 px-6 max-w-3xl mx-auto">
    <SingleNewsletterIssue issue={issue} />
    <SocialShare url={url} text={issue.title} />
    <NewsletterFooter issueId={issue.id} />
    <Author />
    <ToNewsletterLink />
  </div>
</Layout>
