---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { fetchPosts } from '~/utils/blog';
import { SERIES_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
  if (BLOG?.disabled || BLOG?.series?.disabled) return [];

  const posts = await fetchPosts();
  const series = new Set();
  posts.map((post) => {
    typeof post.series === 'string' && series.add(post.series.toLowerCase());
  });

  return Array.from(series).map((series: string) =>
    paginate(
      posts.filter((post) => typeof post.series === 'string' && series === post.series.toLowerCase()),
      {
        params: { series: series, blog: SERIES_BASE || undefined },
        pageSize: BLOG.postsPerPage,
        props: { series },
      }
    )
  );
}

const { page, series } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Series: '${series}' ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description: SITE.description,
  noindex: BLOG?.series?.noindex,
};
---

<Layout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline><span class="capitalize">{series.replaceAll('-', ' ')}</span></Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
